*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  :root {
    --Light-red: hsl(0, 100%, 67%);
    --Orangey-yellow: hsl(39, 100%, 56%);
    --Green-teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);

    /* ## Gradients */

    --Light-slate-blue /*(background)*/: hsl(252, 100%, 67%);
    --Light-royal-blue /*(background)*/ : hsl(241, 81%, 54%);

    --Violet-blue /*(circle)*/ : hsla(256, 72%, 46%, 1);
    --Persian-blue /*(circle)*/ : hsla(241, 72%, 46%, 0);
    --Result-text: hsla(241, 100%, 89%, 0.7);

    /* ### Neutral */

    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsla(221, 100%, 96%, 70%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);

  }
  body{
    font-family: 'Hanken Grotesk', sans-serif;
    background-color: var(--White);
    font-size: 18px;
  }
  main {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .holder{
    border-radius: 35px;
    overflow: hidden;
    box-shadow: 20px 20px 20px 20px var(--Pale-blue)
  }
  @media (min-width:768px) {
    .holder{
      display: flex;
    }
  }

  .result{
    background-image:linear-gradient(to bottom, var(--Light-slate-blue), var(--Light-royal-blue)) ;
    text-align: center;
    border-radius: 35px;
    width: 375px;
    padding: 40px;
  }

  .result .title{
    font-size: 25px;
    font-weight: 700;
    color: var(--Pale-blue);
    margin-bottom: 30px;
  }

  .circle{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom, var(--Violet-blue), var(--Persian-blue)) ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .circle .num{
    font-size: 70px;
    font-weight: 800;
    color: var(--White);
  }
  .circle span{
    display: block;
    font-size: 18px;
    color: var(--Result-text);
  }
  .text {
    opacity: 0;
    overflow: hidden;
    transition: opacity 2s;
  }
  .comment{
    font-size: 30px;
    font-weight: 700;
    color: var(--White);
    margin: 30px 0 20px;
  }
  .info{
    padding: 0 25px;
    color: var(--Result-text);
  }
  .summary{
    padding: 40px;
    width: 375px;
  }
  .summary .title {
    font-size: 24px;
    font-weight: 800;
  }

  .skills{
    margin: 30px 0;
  }

  .skills .skill{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: 700;
    padding: 15px;
    margin-bottom: 18px;
    border-radius: 10px;
    position: relative;
  }
  .skill::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--Orangey-yellow);
    z-index: -1;
    border-radius: 9px;
  }
  .skill .name{
    display: flex;
    align-items: center;
  }

  .react{
    background-color: hsl(6deg 100% 98.04%);
  }
  .react .name{
    color: hsl(0, 100%, 67%);
  }
  .mem{
    background-color: hsl(42, 100%, 97%);
  }
  .mem .name{
    color: hsl(39, 100%, 56%);
  }
  .verb{
    background-color: #f2fbfa;
  }
  .verb .name{
    color: hsl(166, 100%, 37%);
  }
  .vis{
    background-color: #f3f3fd;
  }
  .vis .name{
    color: hsl(224, 30%, 27%);
  }

  .skill img{
    margin-right: 12px;
  }

  .skill .score::after{
    content: " / 100";
    font-size: 18px;
    margin: 0 3px;
    color: #9895a0;
  }

  .summary button{
    width: 100%;
    border-radius: 27px;
    border: none;
    background-color: var(--Dark-gray-blue);
    color: white;
    padding: 15px;
    margin-top: 15px;
    font-size: 20px;
    transition: color 0.3s;
    cursor: pointer;
  }
  .summary button:hover {
    background-color: var(--Cobalt-blue);
    opacity: 0.9;
  }
